h1 {
    color: aquamarine;
    font-size: 38px;
  }

  h2 {
    color: aquamarine;
    font-size: 38px;
  }

  h3 {
    color: aquamarine;
    font-size: 38px;
  }

  h4 {
    color: aquamarine;
    font-size: 38px;
  }

  h5 {
    color: aquamarine;
    font-size: 38px;
  }

  h6 {
    color: aquamarine;
    font-size: 38px;
  }

  h7 {
    color: aquamarine;
    font-size: 38px;
  }
  
  body {
    background-color: green;
    text-align: center;
  }